<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Professor Registration</title>
</head>
<body>
<div th:replace="header :: header"></div>

<h2>Professor Registration</h2>
<form th:action="@{/register/professor}" method="post">
    Name: <input type="text" name="name" required><br>
    Email: <input type="email" name="email" required><br>
    Password: <input type="password" name="password" required><br>
    <input type="submit" value="Register">
</form>

<div th:replace="footer :: footer"></div>
</body>
</html>